/***************diseño general**********************/
/**************************************************/
/*tarjetas*/
.contenedor {
    position: relative;
    width: 100%;
    margin: 0 auto;
    transition: all 0.3s ease-out;
    margin-top: 50px;
    margin-bottom: 20px;
    display: block;
}

.contenedor-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contenedor-cards .contenedor-card-item {
    // -webkit-box-sizing: border-box;
    // -moz-box-sizing: border-box;
    // -o-box-sizing: border-box;
    width: 25%;
    margin: 1%;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border-radius: 5px;
    cursor: help;
}

.contenedor-cards .contenedor-card-item:hover {
    box-shadow: 0 15px 30px rgba(38, 135, 209, 0.8);
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}

.contenedor-card-item-wrapper {
    overflow: hidden;
    position: relative !important;
    background: #6d9cec;
    border-radius: 15px;
    border:5px solid #37bbed;
    
}

.contenedor-card-item img {
    max-width: 100%;
    position: relative;
    top: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 5px;
}

.contenedor-card-item .contenedor-info {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: -70px;
    -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.contenedor-card-item .contenedor-info .fondo {
background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0,0,0,0.73) 53%, rgba(0,0,0,0.88) 100%);
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.73) 53%,rgba(0,0,0,0.88) 100%);
background: linear-gradient(to bottom, rgba(38, 135, 209, 0.9) 0%,rgba(38, 135, 209, 0.9) 53%,rgba(38, 135, 209, 0.9) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e0000000',GradientType=0 );
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
}

.contenedor-card-item .contenedor-info .info {
    color: #fff;
    position: relative;
    z-index: 500;
    padding: 20px 15px;
}

.contenedor-card-item .contenedor-info .info .titulo {
  margin: 0;
  font-size: 20px;
}

.contenedor-card-item .contenedor-info .info .categoria {
    display: block;
    font-size: 12px;
}

.contenedor-card-item:hover .contenedor-info {
    bottom: 0;
}

.contenedor-card-item:hover img {
    top: -30px;
    -webkit-transform: rotate(0deg) scale(1.4);
    -ms-transform: rotate(0deg) scale(1.4);
    -o-transform: rotate(0deg) scale(1.4);
    transform: rotate(0deg) scale(1.4);
}

@media screen and (max-width: 900px) {
    .contenedor-card-item:hover img {
    top: -30px;
    -webkit-transform: rotate(0deg) scale(1.4);
    -ms-transform: rotate(0deg) scale(1.4);
    -o-transform: rotate(0deg) scale(1.4);
    transform: rotate(0deg) scale(1.4);
  }

    .contenedor-card-item .contenedor-info {
        bottom: 0;
    }
}

@media screen and (max-width: 767px) {
    .contenedor {
        width: 95%;
    }

    .contenedor-cards .contenedor-card-item {
        width: 48%;
        margin: 1%;
    }
}

@media screen and (max-width: 550px) {
  .contenedor-cards .contenedor-card-item {
    width: 60%;
    margin: 10px auto;
  }
}

@media screen and (max-width: 480px) {
    .contenedor {
        width: 90%;
    }
  
  .contenedor-cards .contenedor-card-item {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
    .contenedor {
        width: 100%;
    }
}
.footer{
    display: flex;
    flex-direction: column;
    background-color: #37bbed;
    margin: 0px;
    margin-bottom: 0%; 
    vertical-align: middle;
    justify-items: center;
    justify-content: center;
    

}
.images__pie{
    width: 20px;
    height: 20px;
    gap: 0.5rem;
    margin-left: 1rem;
 
}
.arreglopie{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.arreglopie2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.img_pie{
    display: flex;
    flex-direction: row;
    vertical-align: middle; 
    justify-content: center;
   
}
/*pie*/
.pie{
    display: flex;
    background-color: #37bbed;
    color: #fff;
    font-size: small;
    position: fixed;
    width: 100%;
    bottom:0px;
    align-items: center;
    border: 0em;


}
 /*divide pie*/
.pie__dr,.pie__iz{
    width: 50%;
} /*pie a la derecha*/
.pie__dr{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
 /*pie a la izquierda*/
.pie__iz{
    display: flex;
}
/****************estilos nuevos usuarios****************************/
 .usuario{
     display: flex;
     flex-direction: row;
     margin-left: 20px;
     justify-content: center;
     width: 100%;
 
 }
 .usuario, .usuario__2{
    width: 50%;
}
 .usuario__2{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 150px;
  
 }
 
 .usuario__div{
     display: flex;
     flex-direction: column;
     justify-content: center;
    
 }
 .usuario__form{
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin-bottom: 50px;
     margin-left: 10px; 
     width: 500px;
 }
 .card__contine{
    width: 300px;
    margin-top: 40px;
}
.botones__abajo{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: flex-end;
    margin-top: 30px;
  
}
.boton{
    width: 50px;
    border: none;
    width: 100px;
    font-family: 'Encode Sans', sans-serif;
    size: 18px;
    font-weight: 600;
   
    
}
.boton img{
    width: 60px;
    box-shadow: 0 2px 5px rgba(15, 15, 15, 0.4);
    border-radius: 10px;
  }
  /*animacion de iconos de formularios*/
  .botones__abajo img {
    transition: all 0.5s;
    
}
.botones__abajo img:hover{
    transform: scale(1.2);
    z-index: 0;
   
   
}
.pie__dr img {
  transition: all 1s;
  z-index: 0;
}

/*media querie pantalla más chicas 1080*/
@media (max-width: 1080px) {
    .usuario{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    
    }
    .usuario, .usuario__2{
       width: 50%;
   }
    .usuario__2{
       display: flex;
       flex-direction: row;
       justify-content: center;
     
       margin-top: 0px;
       margin-bottom: 20px;
       margin-left: 250px;
        }
    
    .usuario__div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
      
       
    }
    .usuario__form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 50px;
        margin-left: 200px;
        width: 300px;
    }
    .card__contine{
       width: 300px;
       
   }
   .botones__abajo{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  
}
.boton{
    width: 50px;
    border: none;
    width: 100px;
    font-family: 'Encode Sans', sans-serif;
    size: 18px;
    font-weight: 600;
   
    
}
.boton img{
    width: 60px;
    
  }
   @media (max-width: 390px) {
    .usuario{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    
    }
    .usuario, .usuario__2{
       width: 50%;
   }
    .usuario__2{
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       margin-top: 0px;
       margin-bottom: 20px;
       margin-left: 330px;
    }
    
    .usuario__div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        
       
    }
    .usuario__form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 50px;
        margin-left: 370px;
        width: 290px;
    }
    .card__contine{
       width: 300px;
    }
    .botones__abajo{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      
    }
    .boton{
        width: 50px;
        border: none;
        width: 100px;
        font-family: 'Encode Sans', sans-serif;
        size: 18px;
        font-weight: 600;
       
        
    }
    .boton img{
        width: 60px;
      }
}
.ima__tit{
    width: 25px;
    height: 20px;
    margin-right: 0.5rem;
    align-items: center;
    vertical-align: bottom;
    box-shadow: 0px 0px 0px 0px rgba(15, 15, 15, 0.8);
}
.ima__titdr{
  width: 18px;
  height: 20px;
  margin-right: 0.5rem;
  align-items: center;
  vertical-align: bottom;
  box-shadow: 0px 0px 0px 0px rgba(15, 15, 15, 0.8);
}
}
.div__boton{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 10px;
    justify-content: center;
}
.reduccion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/*import  sass */
@import './components/variables';
@import './components/global';
@import './components/profile';
@import './components/bio';
@import './components/gallery';
@import './components/episodes';